* {
	box-sizing:border-box;
}
body {
	background-color: #000;
	background:url('http://i.imgur.com/qDAxhu8.png');
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.container {
	width:100%;
	padding:0;
	margin:0;
}
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
.registerDropdown {
	margin: auto;
  width: 300px;
	margin-top: -63px;
}
.upArrowContainer {
	display: flex;
	cursor:pointer;
	justify-content: center;
}
.upArrowIcon {
	font-size:20px;
	color:white;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
